.footer-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-items .footer-item{
    padding: 5px 0;
    margin: 0;
}

.footer-items .footer-item > a{
    text-decoration: none;
    color: #fff;
}